<div class="container blog-container">
    <div class="blog-content">

        <p>
            <i>
                Business Analyst (BA), nhân viên phân tích nghiệp vụ, là người giúp chuyển tải ý tưởng và yêu cầu
                của khách hàng đến tay nhóm phát triển phần mềm bao gồm Developer (Lập trình viên) và Tester (Kiểm
                thử viên). Chính vì là “cầu nối” giữa khách hàng và nhóm phát triển phần mềm nên vai trò của BA rất
                quan trọng, nếu “sai một li là đi một dặm” ngay!
            </i>
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image5.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image5">
            <figcaption></figcaption>
        </figure>

        <p>
            Ngày càng nhiều công ty nước ngoài từ các quốc gia như Mỹ, Úc, Châu Âu, và Singapore đầu tư mạnh vào Việt Nam
            có thể là do nguồn nhân lực chất lượng cao nhưng nhân công rẻ, và một điều quan trọng là tận dụng được sự
            lệch múi giờ giữa các quốc gia. Như đã đề cập ở trên, công việc của BA là cầu nối giữa khách hàng (người đưa
            ra yêu cầu) và nhóm phát triển phần mềm, mà khách hàng ở đây là “người ngoại quốc” nên một trong những điều
            kiện tiên quyết của BA là ngoại ngữ, có thể là Tiếng Anh hoặc Tiếng Nhật. Xem thêm những thông tin khác về
            BA bên dưới nhé.
        </p>
        <h3 class="blog-content__h3">
            Vậy BA là ai?
        </h3>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image3.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image3">
            <figcaption></figcaption>
        </figure>

        <p>
            BA là viết tắt của Business Analyst, nghĩa là nhân viên phân tích nghiệp vụ. Hay gọi là BA cho gọn. Công
            việc và nhiệm vụ chính của một BA trong dự án phát triển phần mềm sẽ khác nhau, nên bạn có thể thấy nhu cầu
            tuyển Business BA và Technical BA.
        </p>
        <p>
            Theo như một số công ty ở TP.HCM thì các công ty đang cần BA có kinh nghiệm về mảng (business
            domain) Nhân sự và Kho vận. Nên bạn có thể thấy rằng, BA là người phải nắm vững nghiệp vụ của hệ
            thống đang được phát triển để hỗ trợ cho cả khách hàng và nhóm phát triển phần mềm. Và phần mềm (hay
            gọi chung là system, product, hay software) thì tồn tại để phục vụ con người trong nhiều lĩnh vực,
            có thể là giải trí, hoặc là giúp quản lý và vận hành doanh nghiệp như các ứng dụng ngân hàng, thanh
            toán trực tuyến, hay phản lý phát triển phần mềm như Jira.
        </p>
        <p>
            Lộ trình thăng tiến của Business Analyst cũng tương tự mọi vai trò khác như Tester và Developer, đầu
            tiên sẽ là Fresher BA, Junior BA, Senior BA, rồi Principal BA, hoặc có khi bạn đã chuyển sang vai
            trò Product Owner, Product Manager (PM) trước khi lên BA Lead hoặc BA Manager
        </p>
        <h3 class="blog-content__h3">
            Kiến thức cốt lõi của BA
        </h3>
        <p>
            Có thể bạn đã từng gặp câu hỏi “học gì để làm BA?” Như mọi công việc, để biết “cần học gì” thì bạn
            phải biết được công việc đó cần những kỹ năng gì. Dưới đây là một số kỹ năng, kiến thức thiết yếu
            của một BA.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image6.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image6">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            Phân tích quản lý – Management analyst
        </h3>
        <p>
            Như đã đề cập ở trên, một phần mềm khi được phát triển thì luôn có mục đích riêng của nó. Có thể mục
            tiêu của nó là để giúp doanh nghiệp quản lý vận hành hiệu quả hơn, thì trong trường hợp này BA phải
            là một chuyên gia tư vấn các giải pháp quản lý hiệu quả cho khách hàng đó. Để làm tốt điều này, BA
            phải có kiến thức và kinh nghiệm về lĩnh vực chuyên biệt, ví dụ Ngân hàng, Thương mại điện tử, quản
            lý hợp đồng, v.v… Bạn có thể không cần biết về kỹ thuật, không phải học CNTT mà học các chuyên ngành
            khác vẫn làm việc hiệu quả.
        </p>
        <p>
            Nếu không thì có thể xem như phần mềm quản lý này đã thất bại vì nó không giúp ích hay giải quyết
            được vấn đề của khách hàng. Nếu BA không có kiến thức và kỹ năng phân tích quản lý ở mức tổng quan
            thì khó có thể giúp được cả khách hàng và công ty/nhóm phát triển phần mềm.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image7.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image7">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            Phân tích hệ thống – Systems Analyst
        </h3>
        <p>
            Để có thể phân tích được một hệ thống phần mềm, đôi khi bạn phải hiểu hệ thống các phần mềm hiện có
            của khách hàng, cơ sở hạ tầng (infrastructure) hiện tại của họ, và nhiều vấn đề khác như mô hình
            phát triển phần mềm, CI/CD tools, v.v… hiện tại của khách hàng, thì mới có thể đề xuất cách phối hợp
            phát triển phần mềm mới, hay cải tiến một phần nào đó yêu cầu của họ.
        </p>
        <p>
            Vì thế, BA phải có kiến thức và trình độ chuyên môn về kỹ thuật, bạn nào học CNTT thì là tuyệt vời
            vì bạn sẽ làm việc trực tiếp với đội kỹ thuật phía khách hàng và phối hợp với nhóm phát triển của
            mình, là cầu nối giữa 2 nhóm này để làm việc hiệu quả.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image4.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image4">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            Phân tích dữ liệu – Data Analyst
        </h3>
        <p>
            Để có thể tư vấn cho khách hàng các giải pháp phần mềm hiệu quả, ngoài kỹ năng phân tích nghiệp vụ,
            BA còn phải trang bị kỹ năng phân tích số liệu, dựa trên số liệu thu thập hiện có, thông qua các
            công cụ như Google Analytics, MixPanel, FullStory, Productboard, v.v… hay trực tiếp trong hệ thống
            phần mềm của khách hàng. Nếu bạn có kỹ năng phân tích dữ liệu, kết quả công việc của bạn thường được
            trình bày rõ ràng, logic, và dễ hiểu hơn.
        </p>
        <p>
            Dựa trên phân tích thông tin đó, bạn sẽ cung cấp cho khách hàng một cái nhìn tổng quan về các khía
            cạnh khác nhau tùy mô hình kinh doanh, ví dụ như số lượng người dùng vào trang web, số lượng người
            đăng ký so với tổng khách viếng thăm (visitor), doanh số bán hàng,… và có thể sử dụng kết quả phân
            tích thông tin cho nghiên cứu thị trường hoặc các hoạt động khác của doanh nghiệp.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" data-src="upload/blog/what-is-ba/image1.png"
                src="upload/images/spinner/spinner_200x200.svg" alt="what-is-ba-image1">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            Học gì để làm BA (Business Analyst)?
        </h3>
        <p>
            Khi bạn tìm kiếm trên Google từ khoá “Business Analyst cần học gì” thì hầu như chỉ thấy các trung
            tâm đào tạo các khoá học BA ngắn hạn, chứ không có nhiều thông tin cụ thể danh sách các thứ bạn cần
            học để làm BA. Tài liệu đang được mọi người săn đón để làm BA là BABOK.
        </p>
        <p>
            Tương tự như Kiểm thử phần mềm, Business Analyst chưa có chuyên ngành riêng trong các trường Đại
            học. Nhưng cách đây 20 năm, thì sinh viên khoa CNTT đã được học môn Phân tích thiết kế hệ thống
            thông tin (khoá của mình là Cô Bích dạy). “Nghề Business Analyst” tuy không phải là một chuyên
            ngành, nhưng nó là một môn học, nên dù cho nó không trang bị đầy đủ kiến thức và kỹ năng cần thiết
            cho bạn để làm Business Analyst thì nó cũng giúp bạn có được khái niệm tổng quan và nền tảng cơ bản
            để từ đó bạn sẽ tự học thêm.
        </p>
        <p>
            Nếu bạn muốn bắt đầu sự nghiệp với nghề BA thì có những bạn đã và đang học các ngành dưới đây là một
            lợi thế bước đầu:
            Ngành công nghệ thông tin
            Ngày nay, Business Analyst vận dụng khá nhiều kiến thức công nghệ thông tin để có thể thúc đẩy hoạt
            động kinh doanh của doanh nghiệp trong thời đại số. Trong đó, Business Analyst cần phải đưa ra các
            giải pháp vận hành doanh nghiệp bằng phần mềm và bảo mật thông tin kinh doanh. Do vậy, để theo đuổi
            công việc này, bạn có thể theo học các ngành như khoa học máy tính, kỹ thuật phần mềm, truyền thông
            – mạng máy tính…
        </p>
        <p>
            Ngoài việc phát triển kiến thức chuyên sâu về công nghệ thông tin, bạn cũng cần bổ sung thêm các
            kiến thức khác về quản trị kinh doanh, quản lý hệ thống,… và các kỹ năng mềm cần thiết để giao tiếp
            hiệu quả. Đây là những kỹ năng và kiến thức quan trọng để giúp bạn có thể phát triển xa hơn trong
            nghề Business Analyst.
        </p>
        <h3 class="blog-content__h3">
            Khối ngành kinh tế và tài chính ngân hàng
        </h3>
        <p>
            Nhiệm vụ chính của Business Analyst là cần phân tích các con số và thông tin liên quan đến lợi ích
            kinh tế, lợi nhuận của khách hàng hoặc công ty. Do đó, bạn sẽ cần trang bị kiến thức trong các nhóm
            ngành như quản trị kinh doanh, kiểm toán, tài chính, kế toán,… Hiện tại, các trường đại học tại Việt
            Nam đều có các nhóm ngành kinh tế trên để bạn có thể theo học.
        </p>
        <p>
            Trong quá trình học nhóm ngành này, bạn cũng nên đăng ký học thêm các khóa ngắn hạn về công nghệ
            thông tin để bổ trợ thêm kỹ năng cho công việc Business Analyst sau này.
        </p>
        <h3 class="blog-content__h3">
            7 kỹ năng quan trọng nhất của BA
        </h3>
        <p>
            Tuỳ vào công việc cụ thể của bạn là Business BA hay là Technical BA và lĩnh vực (domain) của hệ
            thống bạn đang làm thì tập kỹ năng cần thiết và quan trọng nhất sẽ khác nhau. Dưới đây là danh sách
            7 kỹ năng quan trọng nhất của BA cần phải có để hoàn thành tốt công việc của mình.
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng phân tích
        </h3>
        <p>
            Mọi vị trí trong nhóm phát triển phần mềm đều cần kỹ năng phân tích, tuy nhiên với BA thì tư duy
            phân tích là một trong những kỹ năng cơ bản. Như cái tên của nó “phân tích nghiệp vụ” thì BA phải có
            khả năng phân tích và truyền đạt tốt vì bạn sẽ là cầu nối giữa khách hàng/PM và nhóm phát triển phần
            mềm (gồm Developer, Tester, và nhiều vai trò khác).
        </p>
        <p>
            Bên cạnh đó, tư duy phản biện (critical thinking) giúp BA đánh giá nhiều lựa chọn trước khi đưa ra
            giải pháp mong muốn – đưa ra quyết định trong thời gian ngắn, có thể là ngay trong lúc làm
            việc/phỏng vấn với khách hàng để lấy yêu cầu.
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng giao tiếp
        </h3>
        <p>
            Giao tiếp là một kỹ năng vô cùng cần thiết trong bất kỳ công việc nào, nhất là trong ngành phát
            triển phần mềm. Riêng với vai trò Business Analyst, công việc này đòi hỏi phải làm việc trực tiếp
            với khách hàng, nhất là trong hoạt động phỏng vấn – trao đổi thông tin để nắm rõ yêu cầu và nghiệp
            vụ cũng như những vấn đề mà khách hàng đang nhờ chúng ta giải quyết, tóm lại, là BA thì bạn phải làm
            việc trực tiếp với con người nên kỹ năng giao tiếp là cực kỳ quan trọng.
        </p>
        <p>
            Trong quá trình lấy yêu cầu (requirements elicitation), BA cần có kỹ năng đặt câu hỏi tốt để lấy
            được thông tin cần thiết giúp bạn có được tài liệu mô tả yêu cầu chất lượng cao.
        </p>
        <h3 class="blog-content__h3">
            Kiến thức công nghệ thông tin
        </h3>
        <p>
            Kiến thức chuyên ngành khác giúp bạn dễ dàng nắm bắt yêu cầu nghiệp vụ của khách hàng, thì kiến thức
            công nghệ thông tin sẽ giúp bạn liên kết và hệ thống hoá mọi thông tin để thiết kế quy trình nghiệp
            vụ (business process) hiệu quả.
        </p>
        <p>
            Bên cạnh đó, với kiến thức công nghệ thông tin giúp bạn sử dụng “ngôn ngữ” dễ hiểu cho nhóm kỹ thuật
            (Developer và Tester). Công việc của Business Analyst cũng liên quan đến các loại dữ liệu khác nhau
            từ cơ sở dữ liệu (database) như MS SQL Server hay Postgresql, và các loại cấu trúc dữ liệu như CSV,
            XML, JSON,… nên với kiến thức công nghệ thông tin, đặc biệt là về cơ sở dữ liệu giúp bạn tự viết các
            câu truy vấn SQL để thu thập và phân tích dữ liệu hiện có, giúp bạn đưa ra quyết định tốt hơn về
            nghiệp vụ.
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng xử lý vấn đề
        </h3>
        <p>
            Thay đổi yêu cầu là một điều không thể tránh khỏi trong quá trình phát triển phần mềm nên công việc
            của Business Analyst hay Product Manager thường xuyên phải đối mặt với sự thay đổi. Vì thế, khả năng
            xử lý vấn đề tốt là một trong những kỹ năng thiết yếu của một BA giỏi.
        </p>
        <p>
            Đôi khi để xử lý vấn đề tốt, BA sẽ kết hợp với kỹ năng đàm phán để thương lượng về các thay đổi yêu
            cầu gấp dựa vào khả năng xử lý của nhóm phát triển phần mềm hoặc deadline (hạn chót giao sản phẩm).
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng đàm phán và thuyết phục
        </h3>
        <p>
            Không phải mọi thông tin khảo sát, yêu cầu, và đề xuất của Business Analyst đều được khách hàng chấp
            nhận nên kỹ năng đàm phán để thuyết phục khách hàng hầu như là cơm bữa, nó diễn ra hằng ngày và
            trong mọi giai đoạn của dự án. Ví dụ, trong giai đoạn đầu, BA sử dụng kỹ năng đàm phán để thuyết
            phục khách hàng về những điều quan trọng cần đưa vào tầm nhìn của dự án, giúp việc lập kế hoạch
            thuận lợi hơn.
        </p>
        <p>
            Nếu BA không được trang bị tốt kỹ năng thương lượng đàm phán thì có thể dẫn đến việc cả team sẽ phải
            OT (work overtime) và OL (Ở Lại – nói vui là vì không được trả thêm tiền làm việc ngoài giờ) sấp
            mặt.
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng đưa ra quyết định
        </h3>
        <p>
            Các quyết định của Business Analyst trong quá trình phân tích và thiết kế hệ thống sẽ tác động trực
            tiếp hoặc gián tiếp đến hoạt động kinh doanh của khách hàng, sau khi hệ thống phần mềm được đưa vào
            sử dụng. Nếu BA là người đại diện cho một nhóm gia công phần mềm để làm việc trực tiếp với khách
            hàng để lấy yêu cầu, thì các quyết định của BA sẽ ảnh hưởng trực tiếp đến dự án và nhóm phát triển
            phần mềm trong giai đoạn phát triển. Ví dụ điển hình là những thay đổi yêu cầu nằm ngoài khả năng xử
            lý của nhóm.
        </p>
        <p>
            Để đưa ra quyết định tốt hơn, BA thường dựa vào phân tích số liệu từ những dự án trước đây và kinh
            nghiệm bản thân.
        </p>
        <h3 class="blog-content__h3">
            Kỹ năng quản lý dự án
        </h3>
        <p>
            Thường thì quản lý dự án là trách nhiệm của PM (Project Manager hoặc Product Manager) nhưng trong
            nhiều công ty, BA là người quản lý dự án.
        </p>
        <p>
            Bên cạnh PM, BA là người giám sát và điều phối công việc trong dự án, cũng như là người sẽ cập nhật
            tình hình tiến độ và chất lượng cho khách hàng. BA được trang bị kỹ năng quản lý dự án tốt sẽ giúp
            bạn ấy lên kế hoạch hiệu quả dựa vào ngân sách, nguồn lực hiện có, và kết quả phân tích rủi ro để
            đưa ra kế hoạch dự phòng phù hợp.
        </p>
        <p>
            <i>
                Sau những thông tin hữu ích về nghề BA, chúc bạn tìm thấy lối đi riêng cho mình.
            </i>
        </p>
        <p>
            TECPRO SERVICES cung cấp những khóa học Fresher Tester với giáo trình build theo chuẩn ISTQB và
            update liên tục theo sự phát triển của công nghệ. Với giá cả hỗ trợ sinh viên và các bạn trái ngành,
            TECPRO SERVICES tin rằng Đội ngũ GV TECPRO SERVICES sẽ giúp các có đủ kiến thức để apply Fresher Tester với
            mức lương từ 8-12tr sau khóa học. Còn chần chờ gì nữa hãy nhanh tay đăng ký khóa học Fresher Tester
            của TECPRO SERVICES ngay nào để nhận được những ưu đãi tốt nhất.
        </p>
    </div>
</div>