<div class="container blog-container">
    <div class="blog-content">
        <p>
            <i>
                Bất cứ một bạn nào khi làm Tester cũng có thể trở thành một Tester tốt, có chuyên môn giỏi nếu không
                ngừng trau dồi và cố gắng. Thế nhưng nó chưa đủ nếu bạn muốn trở thành một Tester tuyệt vời, tuyệt vời
                không chỉ ở kinh nghiệm làm việc mà còn ở các kỹ năng khác chính xác là kỹ năng mềm. Vậy kỹ năng mềm là
                gì?
            </i>
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image2.png" alt="necessary-skills-image2">
            <figcaption></figcaption>
        </figure>
        <p>
            Kỹ năng mềm là thói quen giúp bạn làm việc hiệu quả hơn với đồng nghiệp và những người xung quanh. Những
            người mang trong mình những kỹ năng mềm tốt thường sẽ phát triển rất nhanh và tốt trong công việc cũng như
            sự nghiệp. Những chia sẻ dưới đây chỉ là dựa trên quan điểm cá nhân của bản thân mình, rất mong có thể phần
            nào giúp ích cho các bạn, đồng thời cũng hy vọng được nhận sự chia sẻ của các bạn bằng cách comment cho mình
            biết ở dưới bài viết nhé
        </p>

        <p>
            Nhìn từ góc độ nhà tuyển dụng, chắc hẳn các bạn cũng thấy các công ty đều mong muốn tìm kiếm những ứng viên
            có những điểm mạnh này. Vì có thể giúp team phát triển nhanh chóng, nâng cao hiệu quả của một nhóm làm việc.
            Nhưng đừng lo! Kỹ năng mềm là thứ có thể được phát triển theo thời gian. Với tinh thần tích cực và tiếp tục
            học hỏi, bất cứ ai cũng có thể phát triển các kỹ năng này.
        </p>

        <p>
            Dưới đây là 5 kỹ năng hàng đầu mà mình nghĩ là bạn nên có:
        </p>

        <h3 class="blog-content__h3">
            1. Giao tiếp
        </h3>

        <p>
            Mình khẳng định đây là kỹ năng mềm quan trọng nhất, bởi khi các bạn đi làm bạn biết rằng một team sẽ có rất
            nhiều các thành viên khác nhau từ nhiều vùng miền trong cùng một nước hoặc có thể đến từ nhiều nước khác
            nhau. Hơn bao giờ hết, nhu cầu nghe nói đọc viết là vô cùng quan trọng đối với sự thành công của một dự án.
        </p>

        <p>
            Hãy cởi mở và sẵn sàng lên tiếng khi cần để mọi thành viên trong dự án có thể hiểu được nhau. Tất nhiên, bạn
            cũng phải lựa lời để nói sao cho hợp lý nhất có thể, để có thể thuyết phục người khác nghe và làm theo ý
            tưởng của mình có thể rất khó, nhưng cũng rất dễ nếu bạn biết cách giao tiếp với họ một cách tốt nhất
        </p>

        <p>
            Không ai có thể nói hay nói đẹp ngay từ những lần đầu tiên được , bởi thế hãy tích cực nói chuyện thật
            nhiều, đặt bản thân vào những tình huống để có thể rút kinh nghiệm và tạo thói quen giao tiếp cho chính mình
            nhé.
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image5.png" alt="necessary-skills-image5">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            2. Tổ chức
        </h3>

        <p>
            Kỹ năng tổ chức công việc, sắp xếp kế hoạch làm việc của bản thân cũng rất quan trọng và ảnh hưởng trực tiếp
            đến kết quả làm việc của các bạn. Ví dụ trong một dự án tester phải tổ chức tìm hiểu Spec, lập Test plan,
            viết Testcase một cách hợp lý. Nếu bạn tổ chức không tốt, khiến một khâu nào đó bị trì hoãn cũng sẽ dẫn đến
            kết quả
            không mong muốn.
        </p>

        <p>
            Ví dụ trong một dự án gấp, hoặc sắp bị chậm deadline thì việc tổ chức phân bổ người để test một cách
            nhanh gọn là rất quan trọng. Nếu bạn là leader bạn không thể sắp xếp một bạn mới không có nhiều kinh nghiệm
            để đảm nhận phần khó được vì việc ấy khiến dự án dễ gặp rủi ro hơn. Hoặc cũng không thể cho một
            người không có chút kinh nghiệm test hiệu năng nào để làm task về hiệu năng. Đứng ở một góc độ khác các bạn
            cho rằng làm như thế thì member sẽ có cơ hội để học hỏi thêm, tuy nhiên học hỏi cũng phải dựa vào thời gian
            hoàn thành của
            dự án, còn khi dự án đang cần phải nhanh thì đó là điều không nên làm. Quả thực thì việc tổ chức,
            chọn người cho một dự án là nhân tố quyết định rất nhiều với chất lượng và uy tín với khách hàng.
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image1.png" alt="necessary-skills-image1">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            3. Giải quyết vấn đề
        </h3>

        <p>
            Thực sự là trong công việc có muôn vàn thử thách được đặt ra, bất cứ là nghề gì cũng sẽ có những thử thách
            bất ngờ. Vậy đứng trước những thách thức thì bạn nên làm gì, phải làm như thế nào?? Đó quả thực là một câu
            hỏi rất khó, những người có nhiều năm kinh nghiệm trong nghề đôi khi cũng không phải đều có thể giải quyết
            được hết mọi vấn đề gặp phải. Vẫn là vấn đề A nhưng có thể với bạn là dễ dàng còn với người khác thì nó là
            khó khăn.
        </p>

        <p>
            <b>
                Mình ví dụ:
            </b>
        </p>

        <p>
            Một bạn mới có kinh nghiệm vài tháng với nghề Tester thì việc để bạn đó tính toán thời gian kết thúc chuẩn
            cho một dự án là khá
            khó và mạo hiểm. Vì những kiến thức bạn đó có thể chỉ ở mức cơ bản nhất, nên bạn ấy chưa thể lường hết được
            độ
            phức tạp trong việc tính toán, cũng như chưa thể lường trước được những công việc sẽ phát sinh dẫn đến dự án
            kém chất lượng
            . Nhưng nếu là một leader nhiều kinh nghiệm thì họ sẽ có thể tính toán chính xác hơn (mặc dù trong thực tế,
            vẫn có những
            nhầm lẫn nhỏ).
        </p>

        <p>
            Tuy nhiên, nếu bạn được giao bất cứ một task nào hãy cứ bình tĩnh để phân tích đưa ra hướng giải quyết tốt
            nhất. Nếu task đó vượt ngoài sức của bạn thì hãy chia sẻ với đồng nghiệp khác nhằm giúp đỡ bạn tìm giải
            pháp, nếu bạn có kinh
            nghiệm rồi những vẫn thấy chưa tự tin để làm một mình hãy nhờ sự giúp đỡ từ đồng nghiệp hoặc cấp trên.
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image6.png" alt="necessary-skills-image6">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            4. Khả năng thích ứng
        </h3>

        <p>
            Khả năng thích ứng là một trong những nhân tố đảm bảo đến kết quả công việc hằng ngày. Khả năng thích ứng có
            thể áp dụng trong một team dự án, cho đến các team khác trong công ty của bạn. Nếu
            lúc nào, bạn cũng thấy lạc lõng hoặc bị cô lập trong môi trường làm việc thì chắc chắn rằng bạn sẽ chịu áp
            lực tâm lý
            và khó có thể hoàn thành công việc của mình.
        </p>

        <p>
            Giả sử lúc trước bạn làm việc ở một thị trường dễ tính, không chênh lệch múi giờ nhiều có thể bạn sẽ cảm
            thấy thỏa
            mái, không bị gò bó. Nhưng vào một ngày đẹp trời nào đấy bạn lại tham gia một dự án với thị trường Châu Âu,
            múi
            giờ chênh lệch nhiều khách hàng thì khó tính. Học cách thích nghi là giải pháp duy nhất khiến bạn không rơi
            vào căng thẳng hay trầm cảm trong tình huống ấy.
        </p>

        <p>
            Tất nhiên, không bắt buộc bạn phải thích ứng với môi trường đó, nếu bản thân thực sự thấy đã
            cố gắng nhiều mà vẫn không thể thích nghi được thì cũng không sao, bạn hoàn toàn có rất nhiều sự lựa chọn
            khác tốt và phù hợp hơn. Quan trọng là nếu bạn đã chọn gắn bó với một môi trường làm việc nào thì hãy cố
            gắng hết sức mình để
            hoàn thành một cách tốt nhất.
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image3.png" alt="necessary-skills-image3">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            5. Học hỏi
        </h3>

        <p>
            Công nghệ thay đổi liên tục và phát triển nhanh đến chóng mặt, điều đó đồng nghĩa với việc bạn phải cam kết
            không bao giờ ngừng học hỏi để đáp ứng nhu cầu của công việc.
        </p>

        <p>
            Các công nghệ hoặc các công cụ test mới có thể chưa ổn định ngay lúc được hình thành nhưng nó phần nào cũng
            giải quyết được những hạn chế mà công cụ cũ đang có.
            Tìm hiểu điều đó và đưa ra lựa chọn sẵn sàng thay đổi những cái cũ để áp dụng những cái mới phù hợp hơn với
            công việc bạn đảm nhiệm sẽ khiến bạn được đánh giá cao bởi cấp trên hơn những đồng nghiệp khác.
        </p>

        <p>
            Nhiều bạn đã và đang là Tester Manual một thời gian đều có thể học hỏi thêm về cách code một tool test tự
            động để chuyển sang
            hướng Automation, ngành này đang là xu hướng được các công ty "săn đón" hiện nay.
        </p>

        <p>
            Kỹ năng đòi hỏi cũng không phải bắt nguồn cao siêu gì, bạn có thể học từ đồng nghiệp được rất nhiều, các
            tips phục vụ cho test hoặc các extension hay cho quá trình làm việc.
        </p>

        <p>
            Nếu không có tinh thần ham hỏi, trau dồi kiến thức thường xuyên thì dù rằng bạn đã có 2 hay 5 năm kinh
            nghiệm, bạn có thể sẽ không khác gì người
            vào nghề 2 đến 3 tháng.
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/necessary-skills/image4.png" alt="necessary-skills-image4">
            <figcaption></figcaption>
        </figure>
    </div>
</div>