<div class="container blog-container">
    <div class="blog-content">
        <p>
            <i>
                Bài viết này Đội ngũ TECPRO SERVICES sẽ chia sẻ cho các bạn về kinh nghiệm phỏng vấn Manual Tester,
                các bạn chưa có nhiều kinh nghiệm trong lĩnh vực Kiểm thử phần mềm. Mục đích bài viết mang tính chất
                tham khảo giúp các bạn dễ hình dung, đỡ bỡ ngỡ và bối rối khi chưa có nhiều kinh nghiệm đi phỏng
                vấn, đặc biệt là các bạn sinh viên. Từ đó các bạn hãy chuẩn bị cho mình kiến thức tốt để có thêm tự
                tin trước khi bước vào các cuộc phỏng vấn thực sự nhé.
            </i>
        </p>

        <figure class="post-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/tester-interview-experience/image1.png" alt="tester-interview-experience-image1">
            <figcaption></figcaption>
        </figure>

        <h3 class="blog-content__h3">
            Phần 1: Tìm hiểu về cá nhân
        </h3>
        <p>
            Khởi động cho cuộc phỏng vấn thì sẽ là các câu hỏi khai thác và tìm hiểu về thông tin cá nhân của
            bạn, các câu hỏi có thể được lồng vào các phần khác chứ không phải lúc nào cũng hỏi liền tù tì nhé.
        </p>
        <p>
            Đôi khi người phỏng vấn sẽ hỏi bạn có giao tiếp được bằng ngoại ngữ không (Tiếng Anh, tiếng nhật,
            ... tùy môi trường công ty mà bạn ứng tuyển), nếu bạn ok thì cuộc phỏng vấn sẽ sử dụng ngoại ngữ cho
            đến lúc nào họ hoăc bạn muốn chuyển đổi.
        </p>
        <p>
            <b>Ví dụ như:</b>
        </p>
        <p>
            Bạn hãy tự giới thiệu về mình? Theo quan điểm cá nhân mình thì các bạn nên giới thiệu những cái mới
            mẻ chưa có trong CV của bạn, chọn lọc những thông tin nổi bật của bản thân mình vì những gì cơ bản
            đã có thì người phỏng vấn đã có thể xem qua CV rồi .
        </p>
        <div class="mb-3">
            <ul class="blog-content__list list-type">
                <li>
                    Thời điểm tốt nghiệp/ra trường của bạn?
                </li>
                <li>
                    Thời gian các bạn có thể tham gia làm việc?
                </li>
                <li>
                    Thời gian rãnh bạn thường làm gì?
                </li>
                <li>
                    Tại sao bạn chọn nghề Tester? Hay điều gì ở nghề Tester khiến bạn cảm thấy thú vị/thích thú?
                </li>
                <li>
                    Bạn học lý thuyết/thực hành từ những nguồn nào?
                </li>
                <li>
                    Ưu điểm, nhược điểm của bạn là gì? Hay những điểm mạnh nào của bạn thích hợp với một Tester?
                </li>
                <li>
                    Theo bạn những điều gì cần có của một Tester? Hay theo bạn như thế nào là Tester giỏi?
                </li>
                <li>
                    Bạn đã có ý định lập gia đình chưa? Hay bạn đã có gia đình chưa? Hay bạn đã có người iu chưa?
                </li>
            </ul>
        </div>
        <p>
            <b>
                <i>
                    Mục đích đảm bảo là các bạn có đáp ứng được thời gian làm việc, một số tiêu chí từ công ty gì đấy
                    không.
                </i>
            </b>
        </p>
        <h3 class="blog-content__h3">
            Phần 2: Kinh nghiệm đã làm của bạn
        </h3>
        <p>
            Sau phần khởi động thì sẽ đến phần tìm hiểu về kinh nghiệm làm việc của bạn, các bạn không nên nghĩ
            rằng chỉ khi đi làm rồi mới có kinh nghiệm nhé, nó có thể là kinh nghiệm trong quá trình học tập, tự
            nghiên cứu của bản thân, .. Đôi khi việc chơi game, lướt web hằng ngày của các bạn cũng là kinh
            nghiệm. Từ những kinh nghiệm của bạn thì người phỏng vấn sẽ hỏi thêm chi tiết. Một số câu hỏi như:
        </p>
        <p>
            Bạn đã từng đi làm/đi thực tập ở đâu chưa? Hãy nói qua về công ty cũ của bạn? Có bao nhiêu người? Có
            biết/quen/làm việc với người A, B.. không? Làm về mảng gì? Bạn thấy môi trường như thế nào... không
            biết là có phải điều tra đối thủ cạnh tranh không nữa hay đơn giản hỏi để giải tỏa tâm lý căng thẳng
            của bạn mà cũng có khi đang điều tra xem bạn có lừa dối họ không?
        </p>
        <p>
            Công việc của bạn là gì? Hay hãy nói qua về công việc/quá trình học tập của bạn trước đây?
        </p>
        <p>
            Giới thiệu về dự án gần nhất mà bạn làm? Theo quan điểm cá nhân mình thì bạn nên chọn cho mình kinh
            nghiệm mà bạn thực sự hiểu rõ và tự tin về nó, vì từ đây họ sẽ đặt ra tiếp những câu hỏi xoay quanh
            về dự án để tìm hiểu xem bạn đã làm như thế nào, xử lý ra sao, hiểu về nó ở mức
            nào...bla..bla..bla..
        </p>
        <p>
            Hãy nói về vai trò, trách nhiệm của bạn trong dự án đã làm?
        </p>
        <p>
            Bạn có tìm được lỗi (bug) nào thú vị trước đây chưa? Hay lỗi lớn nhất mà bạn tìm thấy được là gì?
        </p>
        <p>
            Bạn đã xử lý nó như thế nào?
        </p>
        <p>
            Ngoài kiến thức đi làm/đi học ra thì bạn có làm gì để trao dồi thêm kiến thức hay kinh nghiệm cho
            mình không? Hay có nghiên cứu tìm hiểu từ các trang tài liệu, dạy học, hỏi đáp ... về test không? Là
            các trang nào?
        </p>
        <p>
            Theo bạn thì điều gì tạo nên sự thành công của một ứng dụng/website?
        </p>
        <p>
            Bạn có bí kíp gì để test nhanh hay giúp cho công việc của mình hiệu quả hơn không?
        </p>
        <p>
            Bạn thường sử dụng những công cụ, ứng dụng.. gì để phục vụ cho công việc của mình?
        </p>
        <h3 class="blog-content__h3">
            Phần 3: Kiến thức về Testing, câu hỏi về chuyên môn
        </h3>
        <p>
            Câu hỏi lý thuyết về Testing
        </p>
        <p>
            Bạn hiểu gì về Tester? Các công việc của một Tester?
        </p>
        <p>
            Bạn có biết về quy trình phát triển phần mềm? Có biết về chuẩn CMMI? hay các chuẩn nào không? Trình
            bày về những gì bạn biết? Hay là bạn đã từng làm với mô hình hay quy chuẩn nào
        </p>
        <p>
            Testcase là gì? Testcase gồm những thông tin gì? Hay cách bạn viết Testcase?
        </p>
        <p>
            Test plan là gì? Trình bày nội dung của test plan?
        </p>
        <p>
            Phân biệt Black box Testing và White box Testing?
        </p>
        <p>
            Regression Testing (Test hồi quy) là gì? khi nào thì bạn thực hiện regression test?
        </p>
        <p>
            Có những phương pháp Kiểm thử phần mềm nào? Nêu cụ thể từng phương pháp đó?
        </p>
        <p>
            Có các kỹ thuật test nào? ... Vô vàn các câu hỏi riêng cho phần chuyên môn. Các bạn có thể tham khảo
            thêm một số câu hỏi có kèm câu trả lời tham khảo ở đây nhé
        </p>
        <p>
            Phần thực hành thực tế
        </p>
        <p>
            Người phỏng vấn sẽ đặt ra cho các bạn các trường hợp, bài toán, yêu cầu thực tế để các bạn thực hành
            xử lý.
        </p>
        <p>
            Ví dụ: Cho ô text field chức năng tìm kiếm theo tên. Bạn hãy đưa ra những Test case cho chức năng
            tìm kiếm đó? Bạn hãy giả sử bug xảy ra và cách mà bạn thực hiện log bug đó?
        </p>
        <p>
            Kiến thức về cơ sở dữ liệu (Database, SQL)
        </p>
        <p>
            Ngoài các kiến thức về Testing thì một mảng kiến thức khá quan trọng để thao tác với dữ liệu hệ
            thống đó là về SQL (truy vấn cơ sở dữ liệu) . Đối với các bạn đã có nền tảng IT thì sẽ dễ dàng hơn,
            còn những bạn trái ngành thì khá là khó khăn, buộc các bạn sẽ phải nghiên cứu nhiều. Một số
            câu hỏi như:
        </p>
        <p>
            Kể một số câu lệnh SQL cơ bản? Hay bạn đã từng sử dụng các câu lệnh SQL nào?
        </p>
        <p>
            Có biết các phép JOIN giữa hai table không? trình bày hoặc phân biệt các phép JOIN đó?
        </p>
        <p>
            Tìm kiếm gần giống trong chuỗi ký tự thì bạn sử dụng toán tử gì?
        </p>
        <p>
            Có biết về GROUP BY không? khi nào bạn sử dụng nó?
        </p>
        <p>
            Có các cách sắp xếp dữ liệu gì?
        </p>
        <p>
            Đó là lý thuyết, quan trọng là phần thực hành. Người phỏng vấn sẽ cho bạn một bài toán cụ thể yêu
            cầu bạn trình bày SQL để giải quyết.
        </p>
        <p>
            <b>Ví dụ:</b>
        </p>
        <p>
            Cho table Nhân Viên: Lấy ra thông tin của tất cả nhân viên có giới tính là Nữ và lớn hơn 30 tuổi.
        </p>
        <p>
            Cho thêm table Phòng IT có quan hệ với table Nhân viên. Yêu cầu lấy ra tên, ngày sinh, chức vụ của
            các nhân viên có chức danh lập trình viên chẳng hạn...
        </p>
        <h3 class="blog-content__h3">
            Phần 4: Tính cách, xử lý vấn đề, định hướng và mong muốn của bạn
        </h3>
        <p>
            Phần này là các câu hỏi liên quan đến trắc nghiệm tính cách của bạn, cách bạn xử lý tình huống, định
            hướng công việc trong thời gian tới và mong muốn, nguyện vọng của bạn.
        </p>
        <h3 class="blog-content__h3">
            Phần 5: Kết thúc
        </h3>
        <p>
            Thường thì người phỏng vấn sẽ hỏi xem bạn có câu hỏi nào dành cho họ không? Giải đáp các thắc mắc,
            câu hỏi mà bạn đặt ra. Giới thiệu thêm một số điều lưu ý/quy trình về vị trí bạn đang ứng tuyển nếu
            cần thiết. Chào tạm biệt.. Hy vọng có hẹn gặp lại.
        </p>
    </div>
</div>