<div class="container blog-container">
    <div class="blog-content">
        <p>
            Ngày 06/08/2022 vừa qua, Đội ngũ TECPRO SERVICES kết hợp với Trường Cao đẳng FPT Polytechnic HCM đã tổ chức
            thành công buổi Workshop: "Thực chiến Tester trong 3h"
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220806-tecpro-with-school-and-student.jpg" alt="Đội ngũ TECPRO chụp hình lưu niệm cùng các thầy cô và các bạn sinh viên" srcset="">
            <figcaption class="mt-3">
                Đội ngũ TECPRO SERVICES chụp hình lưu niệm cùng các thầy cô và các bạn sinh viên
            </figcaption>
        </figure>

        <p>
            Đến với buổi Workshop Thực chiến Tester trong 3h, Anh Đạt hào hứng chia sẻ: "Từ trước đến hiện tại
            thì đa số các buổi hội thảo đều chỉ là định hướng chuyên ngành cho các bạn về Testing, qua buổi
            Workshop thực chiến này anh mong muốn các bạn có thể hiểu biết sâu hơn về nghề Tester cụ thể Tester
            sẽ trải qua những công việc như thế nào như phân tích yêu cầu, lên check list dự án, thiết kế test
            case, ... thông qua đó sẽ giúp các bạn sinh viên có thể định hướng và hiểu rõ hơn sâu hơn về Nghề
            Tester."
        </p>
        <p>
            Anh Hoàng Phan Minh Đức (Leader Developer TECPRO SERVICES) chia sẻ:"Công việc của một Tester cũng
            khá thú vị và quan trọng không kém với Developer, lần này tham dự với vai trò khách mời anh cảm thấy
            rất vui vì các bạn sinh viên rất hào hứng tham gia các trò chơi chuyên ngành một cách tự tin và hào
            hứng nhất. Anh mong rằng sẽ có những buổi Workshop như thế này ở các ngành như Tester và Developer
            để các bạn sinh viên có những trải nghiệm mới mẻ hơn"
        </p>
        <p>
            Anh Phan Đại (Developer TECPRO SERVICES) chia sẻ: "Qua buổi Workshop anh thấy ở các bạn sinh viên
            một năng lượng tích cực tươi mới, và nắm vững kiến thức đã được học tại trường, anh mong rằng sẽ có những
            buổi Workshop, seminar về ngành Coder để anh có thể đến và chia sẻ cho các bạn sinh viên về những
            kinh nghiệm và kiến thức của mình để có thể truyền lửa cho những đàn em trong ngành"
        </p>
        <p>
            Chị Võ Thị Hoài Xuân hào hứng chia sẻ: "Đến với buổi Workshop Thực chiến Tester trong 3h chị mong
            rằng các bạn sinh viên sẽ có thể hiểu được khái quát công việc thường ngày của một người Tester là
            như thế nào. Qua đây cũng giúp các bạn có thể ôn lại những kiến thức về Testing những kỹ thuật test.
            Chị mong rằng sẽ có nhiều buổi Workshop như thế nào được diễn ra thường niên để giúp các bạn sinh
            viên mới có thể định hướng chuyên ngành, thực chiến công việc một cách tốt nhất"
        </p>
        <p>
            Anh Thái Minh Thông Co-founder của Sunshine Software khách mời của CEO TECPRO SERVICES chia sẻ: "Anh
            rất vui khi nhận được lời mời của TECPRO SERVICES đến với buổi Workshop ngày hôm nay, Anh rất vui
            khi mình có thể chia sẻ cho các bạn sinh viên về định hướng ngành IT và con đường của chính bản thân
            anh từ một chàng trai học IT không được giỏi và đến với người sáng lập một công ty, qua buổi
            Workshop ngày hôm nay anh mong rằng các bạn sinh viên hãy thật cố gắng phát huy khả năng và tiềm
            năng của bản thân mình"
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220806-mr-leon-speech.jpg" alt="Anh Đạt - Admin của TECPRO SERVICES đang phát biểu" srcset="">
            <figcaption class="mt-3">
                Anh Đạt - Admin của TECPRO SERVICES đang phát biểu
            </figcaption>
        </figure>

        <p>
            Thông qua Workshop Đội ngũ TECPRO SERVICES mong muốn truyền đến các bạn sinh viên nguồn cảm hứng về nghề
            Testing nói riêng cũng như là Ngành CNTT nói chung. TECPRO SERVICES mong muốn các bạn sinh viên sau
            buổi hội thảo có một cái nhìn khái quát và rõ hơn về ngành cũng như là cơ hội phát triển thăng tiến
            của ngành Testing.
        </p>
        <p>
            TECPRO SERVICES cung cấp những khóa học Fresher Tester với giáo trình build theo chuẩn ISTQB và
            update liên tục theo sự phát triển của công nghệ. Với giá cả hỗ trợ sinh viên và các bạn trái ngành,
            TECPRO SERVICES tin rằng Đội ngũ GV TECPRO SERVICES sẽ giúp các có đủ kiến thức để apply Fresher Tester với
            mức lương từ 8-12tr sau khóa học. Còn chần chờ gì nữa hãy nhanh tay đăng ký khóa học Fresher Tester
            của TECPRO SERVICES ngay nào để nhận được những ưu đãi tốt nhất.
        </p>
    </div>
</div>