<div class="container blog-container">
    <div class="blog-content">
        <p>
            Ngày 6/4/2022 vừa qua, Đội ngũ TECPRO SERVICES kết hợp Cao đẳng FPT Polytechnic HCM và Testing
            VN đã tổ chức thành công buổi Seminar chủ đề “Software Testing as a Career Path” – Cơ hội về
            nghề nghiệp và con đường để trở thành Tester “xịn”.
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220406_hoi_thao_sinh_vien.jpg" alt="" srcset="">
            <figcaption class="mt-3">
                Hội thảo được đông đảo sinh viên tham gia nồng nhiệt
            </figcaption>
        </figure>

        <p>
            Đến với buổi trò chuyện có sự góp mặt của anh Kiều Tiến Đạt người sáng lập của TECPRO SERVICES -
            Middle QC Engineer , anh Hoàng Liên Sơn đến từ Testing VN - Senior QA engineer. Về phía nhà
            trường, có sự góp mặt của thầy Thân Hoàng Lộc – chủ nhiệm bộ môn chuyên ngành Ứng dụng phần mềm;
            các thầy cô ngành Công nghệ thông tin và đông đảo các bạn sinh viên FPT Polytechnic HCM.
        </p>
        <p>
            Khởi động chương trình với minigame “Thử tài làm Tester”, các bạn sinh viên được cùng thầy Phan
            Thế Viết thử sức với vị trí của một Tester “giả định” để tìm ra những điểm sai của phần mềm. Qua
            đó, các bạn sinh viên FPT Polytechnic HCM đã hiểu hơn về nghề Tester.
        </p>
        <p>
            Chia sẻ về định hướng nghề Tester, thầy Phan Viết Thế cho biết: “Hiện nay, một số lượng lớn các
            bạn trẻ sau khi tốt nghiệp ra trường nhưng không tìm được việc làm theo mong muốn bản thân, một
            số sinh viên vẫn chưa tìm được định hướng nghề nghiệp trong tương lai cho bản thân mình khi chưa
            biết đến các vị trí làm việc của ngành IT. Thông qua chương trình, các bạn sẽ có cái nhìn rõ hơn
            về con đường phát triển của nghề Tester, một nghề đang rất hot của ngành IT với mức lương rất
            hấp dẫn”.
        </p>
        <p>
            Về phía đại diện của TECPRO SERVICES có anh Kiều Tiến Đạt là người sáng lập TECPRO SERVICES,
            hiện đang là Middle QC cho một công ty chuyên làm dự án đa quốc gia. Với thế mạnh của anh Đạt về
            thế mạnh kiến thức Manual Testing, kỹ thuật kiểm thử anh đã có những chia sẻ cho các bạn sinh
            viên về cơ hội làm việc của Tester, định hướng về ngành Testing và tâm sự về con đường từ một
            Developer trở thành một Tester "xịn" tại doanh nghiệp.
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220604-mr-leon-and-the-school.jpg" alt="" srcset="">
            <figcaption class="mt-3">
                Anh Đạt cùng với đại diện Nhà trường và Testing VN
            </figcaption>
        </figure>

        <p>
            Thông qua buổi hội thảo định hướng chuyên ngành anh Kiều Tiến Đạt, cũng như là Đội ngũ TECPRO SERVICES
            mong muốn truyền đến các bạn sinh viên nguồn cảm hứng về nghề Testing nói riêng cũng như là
            Ngành CNTT nói chung. TECPRO SERVICES mong muốn các bạn sinh viên sau buổi hội thảo có một cái
            nhìn khái quát và rõ hơn về ngành cũng như là cơ hội phát triển thăng tiến của ngành Testing.
        </p>
        <p>
            TECPRO SERVICES cung cấp những khóa học Fresher Tester với giáo trình build theo chuẩn ISTQB và
            update liên tục theo sự phát triển của công nghệ. Với giá cả hỗ trợ sinh viên và các bạn trái
            ngành, TECPRO SERVICES tin rằng Đội ngũ GV TECPRO SERVICES sẽ giúp các có đủ kiến thức để apply fresher
            Tester với mức lương từ 8-12tr sau khóa học. Còn chần chờ gì nữa hãy nhanh tay đăng ký khóa học
            Fresher Tester của TECPRO SERVICES ngay nào để nhận được những ưu đãi tốt nhất.
        </p>
    </div>
</div>