<div class="container blog-container">
    <div class="blog-content">
        <p>
            Ngày 16/06/2022 vừa qua, Đội ngũ TECPRO SERVICES kết hợp với Trường Cao đẳng FPT Polytechnic HCM đã tổ chức
            thành công buổi Seminar với chủ đề "Tester-Lương $1000".
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220616-tecpro-and-school-and-student.jpg" alt="" srcset="">
            <figcaption class="mt-3">
                Đội ngũ TECPRO SERVICES chụp hình lưu niệm cùng các thầy cô và các bạn sinh viên
            </figcaption>
        </figure>

        <p>
            Đến với buổi trò chuyện có sự góp mặt của anh Kiều Tiến Đạt người sáng lập của TECPRO SERVICES hiện
            đang là Tester của Công ty chuyên làm dự án đa quốc gia, chị Võ Thị Hoài Xuân Co-Founder của TECRO
            SERVICES hiện đang là Senior QC Engineer. Về đại diện nhà trường có sự góp mặt của Thầy Thân Hoàng
            Lộc - Chủ nhiệm bộ môn chuyên ngành UDPM, Thầy Phan Viết Thế - Chủ nhiệm bộ môn chuyên ngành Xử lý
            dữ liệu, Thầy Lê Anh Tú - trưởng bộ môn Ứng dụng phần mềm và đông đảo các bạn sinh viên FPT
            Polytechnic HCM.
        </p>
        <p>
            Đến với chương trình hội thảo anh Đạt hiện đang là người điều hành của TECPRO SERVICES chia sẻ:
            "Hiện nay có nhiều bạn cho rằng nghề Tester là một nghề không được nhiều công ty coi trọng và lương
            thấp hơn Developer rất nhiều nhưng thực tế Tester là một nghề mà hầu hết các công ty CNTT rất cần và
            nó quan trọng không kém Developer, tất nhiên là lương sẽ không thấp hơn Developer như nhiều bạn đã
            nghĩ. Và mức lương lương 1000$ như tiêu đề hội thảo là một mức mà một người Tester có 1 năm kinh
            nghiệm có thể đạt được nếu bản thân mình cố gắng. Riêng bản thân anh từ khi trên ghế nhà trường anh
            đã cố gắng rất nhiều để có thể đạt được một số ít thành công và được đứng chia sẻ cho các bạn sinh
            viên ngày hôm nay, và bản thân anh đang không ngừng cố gắng để phát triển khả năng của bản thân
            mình. Thông điệp anh muốn chia sẻ cho các bạn là hãy cố gắng hết mình bạn sẽ nhận được một thành quả
            xứng đáng"
        </p>

        <figure class="blog-figure">
            <img src="upload/event/20220616-mr-leon-and-ms-irena-and-school.jpg" alt="" srcset="">
            <figcaption class="mt-3">
                Anh Đạt và chị Xuân cùng với phía nhà trường
            </figcaption>
        </figure>

        <p>
            Tiếp nối anh Đạt là chị Võ Thị Hoài Xuân Co-founder của TECPRO SERVICES chia sẻ: "Đến với buổi trò
            chuyện trao đổi cùng các bạn sinh viên Fpoly HCM, chị mong muốn có thể chia sẻ những kinh nghiệm của
            chính bản thân mình qua những công ty để các bạn sinh viên có một cái nhìn đúng đắn và khách quan
            hơn về nghề Testing, giúp các bạn có hứng thú tìm hiểu về Testing vì Testing nó không chỉ có manual
            Testing mà còn có Automation Tesing, API Testing, SQL Testing,... Và ngoài kiến thức Testing thì các
            bạn hãy rèn luyện kỹ năng mềm của bản thân mình để có thể tăng kỹ năng của bản thân vì với mỗi người
            Tester kỹ năng mềm rất quan trọng. Qua buổi trò chuyện chị mong muốn các bạn sinh viên có thể đúc
            kết được nhiều kinh nghiệm từ các anh chị để phát triển bản thân mình"
        </p>
        <p>
            Đại diện phía nhà trường Chia sẻ về định hướng nghề Tester, thầy Phan Viết Thế cho biết: “Hiện nay,
            một số lượng lớn các bạn trẻ sau khi tốt nghiệp ra trường nhưng không tìm được việc làm theo mong
            muốn bản thân, một số sinh viên vẫn chưa tìm được định hướng nghề nghiệp trong tương lai cho bản
            thân mình khi chưa biết đến các vị trí làm việc của ngành IT. Thông qua chương trình, các bạn sẽ có
            cái nhìn rõ hơn về con đường phát triển của nghề Tester, một nghề đang rất hot của ngành IT với mức
            lương rất hấp dẫn”.
        </p>
        <p>
            Trong buổi hội thảo Đội ngũ TECPRO SERVICES rất vui khi được tham dự buổi ra mắt CLB Tester POLY HCM, Hy vọng
            rằng câu lạc bộ sẽ phát triển thật thành công và lớn mạnh trong thời gian tới.
        </p>
        <p>
            Thông qua buổi hội thảo định hướng chuyên ngành anh Kiều Tiến Đạt, cũng như là Đội ngũ TECPRO SERVICES mong
            muốn truyền đến các bạn sinh viên nguồn cảm hứng về nghề Testing nói riêng cũng như là Ngành CNTT
            nói chung. TECPRO SERVICES mong muốn các bạn sinh viên sau buổi hội thảo có một cái nhìn khái quát
            và rõ hơn về ngành cũng như là cơ hội phát triển thăng tiến của ngành Testing.
        </p>
        <p>
            TECPRO SERVICES cung cấp những khóa học Fresher Tester với giáo trình build theo chuẩn ISTQB và
            update liên tục theo sự phát triển của công nghệ. Với giá cả hỗ trợ sinh viên và các bạn trái ngành,
            TECPRO SERVICES tin rằng Đội ngũ GV TECPRO SERVICES sẽ giúp các có đủ kiến thức để apply Fresher Tester với
            mức lương từ 8-12tr sau khóa học. Còn chần chờ gì nữa hãy nhanh tay đăng ký khóa học Fresher Tester
            của TECPRO SERVICES ngay nào để nhận được những ưu đãi tốt nhất.
        </p>
    </div>
</div>