<div class="container blog-container">
    <div class="blog-content">

        <h3 class="blog-content__h3">
            IT – Mảnh đất màu mỡ
        </h3>

        <figure class="blog-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/not-it-major/image2.png" alt="not-it-major-image-2">
            <figcaption></figcaption>
        </figure>

        <p>
            Có thể thấy ngành Công nghệ thông tin (IT – Information Technology) đang ngày càng thay đổi với tốc độ chóng
            mặt, nó xuất hiện ở khắp mọi nơi, bất kể ngành nghề hay lĩnh vực nào. Ví dụ như dữ liệu được lưu trữ bằng số
            sách giấy tờ sẽ bị hạn chế về dung lượng hay mất mát trong quá trình lưu trữ thay vào đó sẽ được số hóa và
            lưu trữ ở các dịch vụ đám mây, không giới hạn về dung lượng và không sợ mất mát, thất lạc.
            Dựa theo thống kê “Thị trường nhân lực ngành Công nghệ thông tin” (Vietnamworks) nhu cầu tuyển dụng đã tăng
            gấp 4 lần trong một thập kỷ từ năm 2010 đến năm 2020. Cùng với đó, mức lương trung bình của kỹ sư IT lên đến
            87,000 USD/năm với mức tăng trưởng trung bình được dự báo khoảng 45% trong 10 năm tới (theo Good CV).
        </p>
        <p>
            Và một trong những nghề đang phát triển của lĩnh vực này đó là nghề Tester, có không ít bạn trái
            ngành đã và đang muốn theo nghề nhưng các bạn lại chưa biết nên bắt đầu từ đâu. Chúc mừng các bạn vì
            các bạn đã tìm được “hướng đi” cho mình, bởi bài viết này chúng tôi xin chia sẻ 10 Bí quyết để trở
            thành Test dành cho Dân Trái Ngành.
        </p>
        <h3 class="blog-content__h3">
            Dân trái ngành nên bắt đầu từ đâu
        </h3>
        <p>
            Đây là câu hỏi mà bất kỳ bạn nào trái ngành cũng hỏi và sẽ cảm thấy hoang mang không biết nên bắt
            đầu như thế nào? Cần học những gì? Bắt đầu học cái gì? Có nên đi học ở trung tâm không hay xin đi
            học việc, lộ trình thăng tiến như thế nào và đây chỉ là một số vấn đề mà hầu hết các bạn đều quan
            tâm.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/not-it-major/image3.png" alt="not-it-major-image-3">
            <figcaption></figcaption>
        </figure>

        <p>
            Có thể do chưa có cái nhìn tổng quan về nghề nên bạn vẫn còn băn khoăn, đây cũng là vấn đề bình
            thường đối với các bạn trái ngành mà đôi khi đúng chuyên ngành cũng gặp phải.
        </p>
        <p>
            Tài liệu về kiểm thử hiện nay có rất nhiều, các bạn có thể tìm hiểu và tải giáo trình ISTQB để
            học, bạn có thể liên hệ TECPRO SERVICES để được tư vấn khóa học Fresher Tester một cách chi tiết nhất
            để bạn có thể hiểu thêm về lộ trình để trở thành Fresher Tester cho các bạn mới bắt đầu hoặc trái
            ngành.
        </p>

        <figure class="blog-figure">
            <img class="lazyloading" src="upload/images/spinner/spinner_200x200.svg"
                data-src="upload/blog/not-it-major/image4.jpg" alt="not-it-major-image-4">
            <figcaption></figcaption>
        </figure>

        <p>
            Hãy tham gia một khoá học cơ bản trước để biết được bạn có phù hợp với nghề này hay không, Hãy đến
            với TECPRO SERVICES vì chúng tôi luôn chào đón bạn với vô vàn chính sách khuyến mãi.
        </p>
        <p>
            Hãy tham gia khóa Fresher Tester của TECPRO SERVICES. Chương trình đáng tham gia nhất dành cho mọi
            Tester, bạn sẽ sở hữu mọi kỹ năng cần thiết của một Tester như: Phân tích dự án, Test Plan, Test
            Scenario, Test case, Bug và cách sử dụng các công cụ hỗ trợ cho việc kiểm thử.
        </p>
    </div>
</div>